nav {
    border-color: black;
    
    background: linear-gradient(140deg, #4d4d4f 50%, #8a8a8d 100%);
    border-style: solid;
    
}

body{
    height: 800px;

    background: linear-gradient(170deg, rgba(0,212,255,1) 50%, rgba(9,9,121,1) 100%);


}

#Welcome{
    font-size: 50px;
}